body	{
	color: #333;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#outer-content	{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
#content-panel	{
}

.project-header	{
	width: 100%;
	background-color: #eeeeee;
	border-color: transparent;
}

.project-header.navbar{
	min-height: 40px;
}
.navbar-inverse.project-header .navbar-toggle	{
	border-color: transparent;
	margin: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}
.navbar-inverse.project-header .navbar-toggle:focus,
.navbar-inverse.project-header .navbar-toggle:hover	{
	background-color: #dedede;
}
.navbar-inverse.project-header .icon-bar	{
	background-color: #333;
}

.project-header.navbar-inverse .navbar-collapse,
.project-header.navbar-inverse .navbar-form {
	border-color: #dedede;
}

.navbar-inverse.project-header .navbar-nav>li>a{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
	color: #333;
}

.navbar-inverse.project-header .navbar-nav>li>a:focus,
.navbar-inverse.project-header .navbar-nav>li>a:hover	{
	background-color: #dedede;
}

.navbar-inverse.project-header  .navbar-nav>.active>a,
.navbar-inverse.project-header .navbar-nav>.active>a:focus,
.navbar-inverse.project-header .navbar-nav>.active>a:hover	{
	background-color: #ffffff;
	color: #f07000;
}

.project-header#main-header	{
	position: fixed;
	top: 0px;
	left: 0px;
}

#content-panel .map-item	{
	display: inline-block;
	border: #a0a0a0 1px;
	padding-right: 10px;
}

h1	{
	color: #f07000;
	font-weight: bolder;
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 5px;
}

h2	{
	font-size: 100%;
	font-style: italic;
	color: #b05000;
	margin-bottom: 5px;
	margin-top: 0px;
}

h3	{
	font-size: 18px;
	font-weight: bolder;
}

p.text-note	{
	font-size: 11px;
}

.item-label	{
	text-align: center;
	font-family: "Times";
	font-style: oblique;
}

.legend-panel	{
	text-align: center;
}

.legend-panel table	{
	display: inline-table;
	margin-right: 20px;
}

.legend-key	{
	padding-left: 10px;
	font-size: 11px;
}
