body	{
	color: #78909c;
	font-family: 'Oswald', sans-serif;
}

.robot-screen	{
	text-align: center;
}

.controls	{
	padding-left: 20px;
	padding-right: 20px;

	.control-group	{
		margin-bottom: 20px;

		.control-label	{
			font-weight: bold;
			margin-bottom: 5px;
		}

		label {
			display: block;
		}

		label.active {
			color: #000;
			font-weight: bold;
		}

		label.repeat {
			display: inline-block;
			margin-right: 10px;
		}

		label.disabled	{
			color: #bbbbbb;
		}
	}
}

footer	{

	text-align: center;

	.control-label	{
			font-weight: bold;
		}
}