@lightgrey: #bbbbbb;
@bluegrey: #78909c;
@black: #000;

body	{
	color: @bluegrey;
	font-family: 'Oswald', sans-serif;
}

.robot-screen	{
	text-align: center;
}

.controls	{
	padding-left: 20px;
	padding-right: 20px;


	.control-group	{
		margin-bottom: 20px;

		.control-label	{
			font-weight: bold;
			margin-bottom: 5px;
		}

		label {
			display: block;
		}

		label.active {
			color: @black;
			font-weight: bold;
		}

		label.repeat {
			display: inline-block;
			margin-right: 10px;
		}

		label.disabled	{
			color: @lightgrey;
		}
	}
}

#experiment-interaction-state	{
	label {
		margin-top: 10px;
	}
}

#this-robot-controller	{
	text-align: center;
	margin-bottom: 20px;
	.control-label	{
		font-weight: bold;
		margin-bottom: 5px;
	}
	label.active {
		color: @black;
		font-weight: bold;
	}
}

footer	{

	text-align: center;

	border-top: @lightgrey 0.5px solid
}