body {
  color: #78909c;
  font-family: 'Oswald', sans-serif;
}
.robot-screen {
  text-align: center;
}
.controls {
  padding-left: 20px;
  padding-right: 20px;
}
.controls .control-group {
  margin-bottom: 20px;
}
.controls .control-group .control-label {
  font-weight: bold;
  margin-bottom: 5px;
}
.controls .control-group label {
  display: block;
}
.controls .control-group label.active {
  color: #000;
  font-weight: bold;
}
.controls .control-group label.repeat {
  display: inline-block;
  margin-right: 10px;
}
.controls .control-group label.disabled {
  color: #bbbbbb;
}
#experiment-interaction-state label {
  margin-top: 10px;
}
#this-robot-controller {
  text-align: center;
  margin-bottom: 20px;
}
#this-robot-controller .control-label {
  font-weight: bold;
  margin-bottom: 5px;
}
#this-robot-controller label.active {
  color: #000;
  font-weight: bold;
}
footer {
  text-align: center;
  border-top: #bbbbbb 0.5px solid;
}
