body {
  color: #78909c;
  font-family: 'Oswald', sans-serif;
}
.robot-screen {
  text-align: center;
}
.controls {
  padding-left: 20px;
  padding-right: 20px;
}
.controls .control-group {
  margin-bottom: 20px;
}
.controls .control-group .control-label {
  font-weight: bold;
}
.controls .control-group label {
  display: block;
}
