<!DOCTYPE html>

<html>
	<head>
    <title>HRI LTHs - Experiment Dashboard</title>

    <link href="css/los-tres-experiment.css" rel="stylesheet">
	</head>
	<body>
    <h1>Experiment Controller Dashboard</h1>

    <div class="controls">

      <div id="experiment-connection-state" class="control-group">
        <label for="connection-state" class="control-label input-group">Connection State</label>
        
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" name="connection-state" value= 0 >S: Disconnected (Social Robot Initiates)
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="connection-state" value= 1 >A: Connected (Asocial Robot Initiates)
          </label>
          <label class="btn btn-primary active">
            <input type="radio" name="connection-state" value= -1 checked>Donation (No Interaction Happening)
          </label>
        </div>
        
      </div>

      <div id="experiment-interaction-state" class="control-group">
        <label for="interaction-state" class="control-label input-group">Interaction State</label>
        
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" name="interaction-state" value="1">Greet
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="interaction-state" value="2">Topic Initiation
          </label>
          <label class="btn btn-primary repeat">
            <input type="radio" name="interaction-state" value="3">Instruction
          </label>
          <label class="btn btn-primary repeat">
            <input type="radio" name="interaction-state" value="3.1">Instruction Repeat 1
          </label>
          <label class="btn btn-primary repeat">
            <input type="radio" name="interaction-state" value="3.2">Instruction Repeat 2
          </label>
          <br>
          <label class="btn btn-primary repeat">
            <input type="radio" name="interaction-state" value="4.1">Positive Acknowledgement
          </label>
          <label class="btn btn-primary repeat">
            <input type="radio" name="interaction-state" value="4.2">Negative Acknowledgement (By other Robot)
          </label>
          <label class="btn btn-primary repeat">
            <input type="radio" name="interaction-state" value="4.3">Play Both Together
          </label>
          <br>
          <label class="btn btn-primary repeat">
            <input type="radio" name="interaction-state" value="5.1">Parting Positive: Helpful Action
          </label>
          <label class="btn btn-primary repeat">
            <input type="radio" name="interaction-state" value="5.2">Parting Negative: No help
          </label>
        </div>
        
      </div>


    </div>

		

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="js/experimentController.js"></script>

    <footer>
      <button id="replay">Replay Audio</button>
      <button id="go-home" onclick="parent.location='/'">Project Home</button>
    </footer>
	</body>
</html>