<!DOCTYPE html>
<html>
	<head>
		<title>HRI LTHs - Experiment Console</title>
		<link href="css/los-tres-experiment.css" rel="stylesheet">
	</head>
	<body>
		<div class="robot-screen" >
			<canvas id="robot-face" data-processing-sources="pde/robot_face.pde"></canvas>
		</div>



		<footer>
			<button id="go-home" onclick="parent.location='/'">Project Home</button>

			<div id="this-robot-controller" class="control-group">
		        <label for="this-robot-state" class="control-label input-group">I am the </label>
		        <div class="btn-group" data-toggle="buttons">
		          	<label class="btn btn-primary active">
		            	<input type="radio" name="this-robot-state" value="S" checked>Social Robot
		          	</label>
		          	<label class="btn btn-primary">
		            	<input type="radio" name="this-robot-state" value="A">Asocial Robot
		          	</label>
		        </div>
		        
		     </div>
		</footer>
		
		<script src="js/processing.min.js"></script>
		<script type="text/javascript">

    	</script>
	</body>


</html>