<!DOCTYPE HTML>
<html>
	<head>
		<title>Los Tres Humanoides - Human Robot Interaction Project (Interaction)</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/tvmayirp-overrides.css" rel="stylesheet">
		<link href="css/special-objects.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top project-header">
      <div class="container">
      	<div class="page-title">
      		<h1>Los <span>Tres</span> Humanoides</h1>
      		<h2>16-467: Human-Robot Interaction Project</h2>
      	</div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="interaction">Interaction Design</a></li>
	          <li><a href="autonomy">Autonomy Design</a></li>
	           <li><a href="study">Study Design</a></li>
            <li><a href="references">References</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-top project-header">
      <div class="container">
        <div class="page-title">
          <h1>Los <span>Tres</span> Humanoides</h1>
          <h2>16-467: Human-Robot Interaction Project</h2>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="interaction">Interaction Design</a></li>
            <li><a href="autonomy">Autonomy Design</a></li>
             <li><a href="study">Study Design</a></li>
            <li><a href="references">References</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

		<div id="outer-content">
			<div id="content-panel">
        <div class="experiment-block">
          <h2>Experiment 1</h2>
          <h3>Q: If a person sees two robots in conflict, will he/she help/assist? To what extent? How do characteristics of the robots’ communication influence human empathy?</h3>
          <p class="motivation"><strong style="font-family: 'Oswald', sans-serif;">Motivation:</strong> Originally, this assistance empathy experiment was thought as an autonomous board game, in which a human had to decide if it would intervene or not to help the robots. Police-robber algorithms would define the behavior of the agents while the human could control one neutral agent in order to help one of the teams. This idea was too abstract. While the physical limitation of the environment to the table would make the experiment easier to produce and control it would also make the observers feel that they do not share the same world of the robots. The communication of the robots were not engaging and the repertoire of actions of humans was too small. Therefore, it would probably restrict human engagement to change the game.</p>
          <div class="image-container"><img class="full-width-media" style="max-width:400px;" src="images/e1_im1.png"></div>
          <p class="motivation">After watching the one presentation that introduced the <a href="http://mir1.hitchbot.me/">hitchBOT experiment</a> it became clear that an experiment “out in the wild” would necessarily lose in precision due to the lack of a control but should take advantage of the environment and unpredictability. We decided to restructure the idea of the game in our experiment to make it part of the real world and human environment. Instead of a board, we use a cafe and its many tables as the environment. Instead of teams of autonomous robots, we only define two robots with more specific features. Both robots are smart donation boxes that express gratitude when someone contributes with a tip to the cafe.</p>
          <p class="motivation">Both robots are smart and they have distinct personalities: one shy/anti-social and the other social. This conflict of personalities result in a dilemma as they cannot move by themselves and therefore they should rely on the assistance of passers-by. The shy robot wants to avoid the social robot that, by its turn, wants to stay close to the shy robot - it is a cyclic game. Initially, they are on the same table and the shy robot asks someone to take it to another table. When it succeeds, the social robot asks someone to put it together with the shy robot. As the game happens within the daily rhythm of the cafe, there is no limit, each passer-by can intervene and change the current state of the game.</p>
          <div class="image-container"><img class="full-width-media" src="images/e1_im2.jpg"></div>
          <p class="motivation">With this radical change in the experiment it became much more interesting and also it brings to the forefront an intriguing worldview that disrupts not only the real world instrumentalization of the robots (robots assists humans) or the sci-fi cliché of robot vengeance and domination (robots against humans). In other words, it shows a possible scenario in which robots might need as much help as humans and cooperation is the common ground.</p>

          <div class="panel-group" id="accordion-experiment1">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#burkes-pentad1">
                  Burke's Pentad</a>
                </h4>
              </div>
              <div id="burkes-pentad1" class="panel-collapse collapse collapse">
                <div class="panel-body"><div class="image-container"><img class="full-width-media" style="max-width:600px;" src="images/burkes1.png"></div></div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#tangs-engagement1">
                  Tang's Engagement</a>
                </h4>
              </div>
              <div id="tangs-engagement1" class="panel-collapse collapse">
                <div class="panel-body"><div class="image-container"><img class="full-width-media" style="max-width:600px;" src="images/tangs1.png"></div></div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#analytical-cross1">
                  Analytical Cross</a>
                </h4>
              </div>
              <div id="analytical-cross1" class="panel-collapse collapse">
                <div class="panel-body"><div class="image-container"><img class="full-width-media" style="max-width:600px;" src="images/gaia1.png"></div></div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#alexanders-patterns1">
                  Alexander's Patterns</a>
                </h4>
              </div>
              <div id="alexanders-patterns1" class="panel-collapse collapse">
                <div class="panel-body"><div class="image-container"><img class="full-width-media" src="images/alexander1.png"></div></div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#areas-of-interest1">
                  Areas of Interest</a>
                </h4>
              </div>
              <div id="areas-of-interest1" class="panel-collapse collapse">
                <div class="panel-body">
                  <h5>Parameters of comparison</h5>
                  <li>human x mechanical voice</li>
                  <li>male x female
                    <ul>
                      <li>Male-Dominant vs Female-Shy</li>
                      <li>Male-Dominant vs Male-Shy</li>
                      <li>Female-Dominant vs Male-Shy</li>
                      <li>Female-Dominant vs Female-Shy</li>
                    </ul></li>
                  <li>Anthropomorphically designed robot x Abstract robot</li>
                  <li>Tactile x Machine-like</li>
                  <h5>Measures</h5>
                  <li>Partial and total distance by which the user displaced the robot</li>
                  <li>Frequency of assistance by generic users</li>
                </div>
              </div>
            </div>

          </div>
        </div>
        


        <div class="experiment-block">
          <h2>Experiment 2</h2>
          <h3>Q: If a robot interrupts someone requesting a specific action would that person believe in the robot’s expertise? Can the robot create a sense of urgency such that the person will perform the action even if he/she is busy?</h3>
          <p class="motivation"><strong style="font-family: 'Oswald', sans-serif;">Motivation:</strong> </p>
          <div class="image-container"><img class="full-width-media" src="images/e2_im2.jpg"></div>
          <div class="panel-group" id="accordion-experiment2">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#burkes-pentad2">
                  Burke's Pentad</a>
                </h4>
              </div>
              <div id="burkes-pentad2" class="panel-collapse collapse collapse">
                <div class="panel-body"><div class="image-container"><img class="full-width-media" style="max-width:600px;" src="images/burkes2.png"></div></div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#tangs-engagement2">
                  Tang's Engagement</a>
                </h4>
              </div>
              <div id="tangs-engagement2" class="panel-collapse collapse">
                <div class="panel-body"><div class="image-container"><img class="full-width-media" style="max-width:800px;" src="images/tangs2.png"></div></div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#analytical-cross2">
                  Analytical Cross</a>
                </h4>
              </div>
              <div id="analytical-cross2" class="panel-collapse collapse">
                <div class="panel-body"><div class="image-container"><img class="full-width-media" style="max-width:600px;" src="images/gaia2.png"></div></div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#alexanders-patterns2">
                  Alexander's Patterns</a>
                </h4>
              </div>
              <div id="alexanders-patterns2" class="panel-collapse collapse">
                <div class="panel-body"><div class="image-container"><img class="full-width-media" src="images/alexander2.png"></div></div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#areas-of-interest2">
                  Areas of Interest</a>
                </h4>
              </div>
              <div id="areas-of-interest2" class="panel-collapse collapse">
                <div class="panel-body">
                  <h5>Parameters of comparison</h5>
                  <li>Didactic Interaction x Rhetorical Interaction</li>
                  <li>male x female
                    <ul>
                      <li>Male-Dominant vs Female-Shy</li>
                      <li>Male-Dominant vs Male-Shy</li>
                      <li>Female-Dominant vs Male-Shy</li>
                      <li>Female-Dominant vs Female-Shy</li>
                    </ul></li>
                  <li>Anthropomorphically designed robot x Abstract robot</li>
                  <li>Tactile x Machine-like</li>
                  <h5>Measures</h5>
                  <li>Binary: Whether the user unplugged or not</li>
                  <li>Frequency of compliance via trust</li>
                </div>
              </div>
            </div>

          </div>
        </div>
        
				

			</div>
		</div>
		

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>